<div class="toggle-buttons-table-cont">
    <div _for="responsibilitiesCheckGroup" class="col-sm-12 toggle-buttons-table responsibility-buttons required" _form_id="4577451195cf51242c3d432085294633">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="ADM">ADM</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="BSD">BSD</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="CON">CON</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="DIV">DIV</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="DPD">DPD</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="EDV">EDV</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="ENG">ENG</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="FIN">FIN</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="GEO">GEO</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="GOV">GOV</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="HRD">HRD</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="HSE">HSE</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="IAD">IAD</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="INS">INS</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="ITD">ITD</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="LEG">LEG</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="MEI">MEI</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="MID">MID</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="OCD">OCD</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="PED">PED</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="PMG">PMG</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="PRC">PRC</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="QLT">QLT</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="RCD">RCD</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="STO">STO</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="SUR">SUR</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="TND">TND</span> </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 button-cont"> <span class="table-button" _val="TRS">TRS</span> </div>
    </div>
    <div class="validation-message"></div>
</div>