/** JQuery Dialog **/

.ui-dialog .ui-dialog-content {
  width: 100% !important;
  margin-top: 10px;
}

.ui-dialog .ui-dialog-titlebar {
  background: #42b0e3;
}

.ui-dialog .ui-dialog-buttonpane button {
  border: 1px solid #ddd;
  background: white;
}

.ui-dialog .ui-dialog-buttonpane button:hover {
  background: #428bca;
}

.ui-dialog .ui-dialog-buttonpane button:hover .ui-button-text {
  color: white;
}

.ui-dialog .ui-button-text {
  color: #333;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
}

/** End JQuery Dialog **/

/** Custom Toggle Buttons **/

.toggle-buttons-table {
  padding: 0;
}

.toggle-buttons-table .button-cont {
  padding: 0;
}

.toggle-buttons-table .table-button {
  background: white;
  border: 1px solid #ddd;
  padding: 12px 16px;
  color: #464648;
  cursor: pointer;
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 0;
  font-weight: bold;
  letter-spacing: 1px;
}

.toggle-buttons-table .table-button.active {
  background: #3397e1;
  color: white;
}

.toggle-buttons-table:not(.view-mode):not(.touch-mode) .table-button:hover {
  background: #3397e1;
  color: white;
}

.toggle-buttons-table .table-button.active {
  background: #009889;
  color: white;
}

.toggle-buttons-table:not(.view-mode):not(.touch-mode) .table-button.active:hover {
  background: #e27018;
}

.toggle-buttons-table.view-mode .table-button {
  pointer-events: none !important;
}

.toggle-buttons-table-cont.invalid .validation-message-cont {
  width: 100%;
  display: none;
}

.toggle-buttons-table-cont .validation-message {
  display: none;
  background: #e4655f;
  color: white;
  padding: 6px 4px;
  font-size: 12px;
  line-height: 1.0;
  height: 21px;
}

.toggle-buttons-table-cont.invalid .validation-message-cont, .toggle-buttons-table-cont.invalid .validation-message {
  display: inline-block;
}

/** End Custom Toggle Buttons **/

/** Multi Select Lists **/

.multi-select-lists {
  padding: 0;
  display: block;
  width: 100%;
}

.multi-select-lists .cols-container {
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
  table-layout: fixed;
}

.multi-select-lists .buttons-left, .multi-select-lists .buttons-right {
  padding: 0;
  margin: 0;
  width: calc(50% - 20px);
  display: table-cell;
}

.multi-select-lists .scroll-options {
  height: 150px;
  display: inline-block;
  width: 100%;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.multi-select-lists .buttons-left ::-webkit-scrollbar, .multi-select-lists .buttons-right ::-webkit-scrollbar {
  height: 20px;
  width: 4px;
  background: transparent;
}

.multi-select-lists .buttons-left ::-webkit-scrollbar-thumb, .multi-select-lists .buttons-right ::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 5px;
}

.multi-select-lists .middle-col {
  width: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.multi-select-lists .middle-col .move-arrow {
  font-size: 26px;
  color: #4a4a4a;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  line-height: 1.0;
}

.multi-select-lists .option {
  padding: 10px;
  width: 100%;
  display: inline-block;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #484848;
  cursor: pointer;
  line-height: 1.0;
}

.multi-select-lists .option:hover {
  background: #3397e1;
  color: white;
}

.multi-select-lists .buttons-left .option {
  text-align: left;
}

.multi-select-lists .buttons-right .option {
  text-align: right;
}

.multi-select-lists .buttons-left .option.active {
  display: none;
}

.multi-select-lists .buttons-right .option:not(.active) {
  display: none;
}

.multi-select-lists .bottom-buttons {
  display: inline-block;
  width: 100%;
  padding-top: 10px;
}

.multi-select-lists .bottom-buttons .select-all {
  float: left;
}

.multi-select-lists .bottom-buttons .deselect-all {
  float: right;
}

.multi-select-lists .validation-message {
  display: none;
  background: transparent;
  color: #e4655f;
  padding: 6px 4px;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.0;
  height: 21px;
  width: 100%;
}

.multi-select-lists.invalid .validation-message-cont, .multi-select-lists.invalid .validation-message {
  display: inline-block;
}

/** End Multi Select Lists **/

/** Squared Radio Buttons **/

.squared-radio-buttons .radio span:before, .squared-radio-buttons .radio span:after {
  display: none !important;
}

.squared-radio-buttons .radio {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  display: block;
  max-width: 290px;
}

.squared-radio-buttons .control-group {
  margin-top: 10px;
}

.squared-radio-buttons .radio span {
  background: white;
  border: 1px solid #ddd;
  padding: 12px 20px;
  color: #464648;
  cursor: pointer;
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 0;
  font-weight: bold;
  letter-spacing: 1px;
  box-sizing: border-box;
  line-height: 1.1;
  height: auto;
  margin: 0 !important;
}

.squared-radio-buttons .radio span:hover, .squared-radio-buttons .radio span.active {
  background: #3397e1;
  color: white;
}

.squared-radio-buttons .radio label {
  margin: 0;
  padding: 0;
  width: 100%;
}

/** End Squared Radio Buttons **/

/** Form Heading **/

.info-header-table {
  padding: 0 8px;
  border-left: 1px solid #ccc;
}

#form_header_panel {
  border-left: 5px solid #0AF !important;
  box-sizing: border-box;
}

#form_header_panel .row {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 15px;
}

.form-heading-title {
  font-size: 34px;
  margin: 2px 0 20px 0;
  padding: 10px 12px;
}

.form-heading-subtitle {
  font-size: 24px;
  padding: 4px 18px;
  margin: 0;
}

/** End Form Heading **/

/** Form Signature **/

.col-title {
  margin: 0;
  padding: 0;
  line-height: 1.0;
}

.panel-col-title {
  margin: 0;
  padding: 0 0 0 15px;
  line-height: 1.0;
}

.panel-col-title.lower {
  transform: translateY(8px);
}

.form-signature {
  font-style: italic;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #333;
  padding: 12px 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-signature span {
  width: 100%;
  display: inline-block;
  line-height: 1.1;
  padding: 4px 0;
  letter-spacing: .5px;
}

.form-signature .signature-pos {
  font-weight: bold;
}

.form-signature .signature-name {
  color: #0AF;
  font-weight: bold;
}

.form-signature .signature-timezone {
  font-size: 13px;
  display: inline-block;
  width: auto;
  margin-left: 4px;
}

/** End Form Signature **/

/** Mobile **/

/* Phones */

@media screen and (max-width: 480px) {
  .info-header-table {
    border: 0 none;
    padding: 10px 0 0 0;
    margin-top: 20px;
    border-top: 1px solid #ccc;
  }
  #form_header_panel {
    padding: 0;
  }
  #form_header_panel .panel-body {
    padding: 6px 0;
  }
}

/** End Mobile **/

/** Theme Fixes **/

.pmdynaform-control-textarea {
  border: 1px solid #aaa !important;
  outline: 0 none;
  padding: 6px 6px;
}

.control-group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.pmdynaform-field-control .textarea-label {
  padding-left: 10px;
}

.pmdynaform-field-suggest .pmdynaform-field-control {
  width: 100%;
}

a#dyn_forward, a#dyn_backward {
  display: none !important;
}

/** End Theme Fixes **/

/** Buttons **/

.button {
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2);
  border: 1px solid #bfbfbf;
  box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #8c8c8c;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  padding: 9px 16px 9px;
  margin: 16px 0 0 16px;
  transition: all 20ms ease-out;
  vertical-align: top;
}

.button:hover, .button:focus {
  background: #f2f2f2;
  border-color: #8c8c8c;
  box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2;
}

.button:active {
  background: #f2f2f2;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}

.button .fa {
  color: #bfbfbf;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-blue {
  background-color: #42b0e3;
  background-image: linear-gradient(to bottom, #42b0e3, #2ba9e3);
  border: 1px solid #107db0;
  box-shadow: inset 0 1px 0 #7cd4fc, inset 0 -1px 0 #2696c9, inset 0 0 0 1px #59b7e3, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.button-blue:hover, .button-blue:focus {
  background: #2ba9e3;
  border-color: #004c6f;
  box-shadow: inset 0 1px 0 #7cd4fc, inset 0 -1px 0 #2696c9, inset 0 0 0 1px #59b7e3;
}

.button-blue:active {
  background: #2ba9e3;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}

.button-blue .fa {
  color: #107db0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: #97cc76;
  background-image: linear-gradient(to bottom, #97cc76, #8bcc62);
  border: 1px solid #5f993a;
  box-shadow: inset 0 1px 0 #c6e6b3, inset 0 -1px 0 #79b356, inset 0 0 0 1px #a4cc8b, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.button-green:hover, .button-green:focus {
  background: #8bcc62;
  border-color: #326612;
  box-shadow: inset 0 1px 0 #c6e6b3, inset 0 -1px 0 #79b356, inset 0 0 0 1px #a4cc8b;
}

.button-green:active {
  background: #8bcc62;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}

.button-green .fa {
  color: #5f993a;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-purple {
  background-color: #847bba;
  background-image: linear-gradient(to bottom, #847bba, #7568ba);
  border: 1px solid #493e87;
  box-shadow: inset 0 1px 0 #bab6d4, inset 0 -1px 0 #655aa1, inset 0 0 0 1px #948dba, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.button-purple:hover, .button-purple:focus {
  background: #7568ba;
  border-color: #1f1654;
  box-shadow: inset 0 1px 0 #bab6d4, inset 0 -1px 0 #655aa1, inset 0 0 0 1px #948dba;
}

.button-purple:active {
  background: #7568ba;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}

.button-purple .fa {
  color: #493e87;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-orange {
  background-color: #f58a38;
  background-image: linear-gradient(to bottom, #f58a38, #f57c20);
  border: 1px solid #c25706;
  box-shadow: inset 0 1px 0 #ffb984, inset 0 -1px 0 #db6f1d, inset 0 0 0 1px #f59851, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.button-orange:hover, .button-orange:focus {
  background: #f57c20;
  border-color: #773300;
  box-shadow: inset 0 1px 0 #ffb984, inset 0 -1px 0 #db6f1d, inset 0 0 0 1px #f59851;
}

.button-orange:active {
  background: #f57c20;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}

.button-orange .fa {
  color: #c25706;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-red {
  background-color: #ed6d64;
  background-image: linear-gradient(to bottom, #ed6d64, #ed574c);
  border: 1px solid #ba3329;
  box-shadow: inset 0 1px 0 #ffb0aa, inset 0 -1px 0 #d44d44, inset 0 0 0 1px #ed837b, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.button-red:hover, .button-red:focus {
  background: #ed574c;
  border-color: #870c03;
  box-shadow: inset 0 1px 0 #ffb0aa, inset 0 -1px 0 #d44d44, inset 0 0 0 1px #ed837b;
}

.button-red:active {
  background: #ed574c;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}

.button-red .fa {
  color: #ba3329;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-yellow {
  background-color: #fce374;
  background-image: linear-gradient(to bottom, #fce374, #fcdf5b);
  border: 1px solid #c9ae34;
  box-shadow: inset 0 1px 0 #fff6ce, inset 0 -1px 0 #e3c852, inset 0 0 0 1px #fce88d, 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #967d09;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.button-yellow:hover, .button-yellow:focus {
  background: #fcdf5b;
  border-color: #967d09;
  box-shadow: inset 0 1px 0 #fff6ce, inset 0 -1px 0 #e3c852, inset 0 0 0 1px #fce88d;
}

.button-yellow:active {
  background: #fcdf5b;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}

.button-yellow .fa {
  color: #c9ae34;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button .fa {
  float: left;
  font-size: 14px;
  line-height: 20px;
  margin: -1px 8px 0 -4px;
  vertical-align: top;
}

/** End Buttons **/

/*-- Others */

.x-btn-text, .xtb-text {
  color: #fff !important;
}

.x-btn button {
  color: #000 !important;
}

.x-btn x-btn-noicon {
  background: #6e95da;
}

.ext-strict .x-small-editor .x-form-text {
  height: 17px !important;
}

.pmdynaform-edit-datetime input {
  width: 100% !important;
}

a.form-control {
  color: #3397e1 !important;
}

.pmdynaform-control-datetime {
  border: 1px solid #ccc !important;
}

.pmdynaform-checkbox-items {
  margin: 5px 0 0 -5px !important;
}

.pmdynaform-field .control-label.pmdynaform-label {
  text-align: left !important;
}

.title-column {
  width: auto !important;
  padding-left: 5px;
}

.input-group.date .input-group-addon {
  cursor: default !important;
}

.pmdynaform-field-required {
  vertical-align: top !important;
}

.pmdynaform-grid-text-plus {
  color: #fff !important;
}

.pmdynaform-grid-newitem {
  margin: 0 0 10px 0;
}

.panel.panel-default.pmdynaform-panel {
  border: 0;
}

.pmdynaform-label-options.form-control, .pmdynaform-label.textarea-label {
  padding-left: 0;
}

.section-box {
  border-radius: 5px;
  margin: 1rem 0 3rem 0;
  padding: 10px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.14);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.form-horizontal .control-label {
  padding-top: 0 !important;
}

.section-box:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25), 2px 5px 5px rgba(0, 0, 0, 0.22) !important;
}

.pmdynaform-field-title h4 {
  font-size: 2em;
  border-bottom: 2px solid #0AF;
}

.pmdynaform-label-subtitle {
  font-size: 1.5em;
  border-bottom: 2px solid #c5c5c5;
}

.pmdynaform-container .pmdynaform-field-control {
  float: left !important;
}

.pmdynaform-grid-title {
  text-align: left !important;
}

.pmdynaform-grid-title.has-error {
  color: #a94442;
}

.form-control, .form-control:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel {
  box-shadow: none;
}

.pmdynaform-form {
  border: 1px solid #ddd;
}

.pmdynaform-field-grid .pmdynaform-grid-fields .form-group {
  padding: 0;
}

.pmdynaform-field-grid {
  border-radius: 3px;
  padding: 10px;
  margin: 1rem 0 3rem 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
}

.pmdynaform-grid-thead {
  border-bottom: 2px solid #333;
}

/* Others --*/

/*-- Grids */

.index-row, .grid-cell-responsive {
  border: 1px solid #ddd;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  height: 100px;
}

.pmdynaform-grid-removerow-responsive.remove-row {
  width: 3%;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 100%;
}

.pmdynaform-field-grid.static .remove-row {
  border-left: 1px solid #ddd;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.pmdynaform-field-grid.responsive .remove-row button, .pmdynaform-field-grid.static .remove-row button {
  background: transparent;
  border: 0 none;
  color: #e00;
  padding: 0;
  font-size: 17px !important;
  margin: 0;
}

.pmdynaform-field-grid .remove-row button:focus {
  outline: none;
}

.pmdynaform-field-grid.responsive .remove-row button {
  top: 5px;
  margin-top: 35px;
}

.pmdynaform-field-grid.static .remove-row button {
  margin: 30px 5px 0 8px;
}

.pmdynaform-grid-row {
  border-bottom: 0 !important;
}

/** Static grid **/

.pmdynaform-grid .pmdynaform-grid-row .pmdynaform-grid-field-static {
  border-left: 1px solid #ccc;
}

.pmdynaform-grid .pmdynaform-grid-field-static .control-group {
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 10px;
}

.pmdynaform-grid-functions>.total, .pmdynaform-grid-functions>.total>input {
  font-size: 14px;
}

/* Grids --*/

/*-- Input fields */

/* .pmdynaform-field-datetime, button.glyphicon-trash, .pmdynaform-dropdown-control,.pmdynaform-grid-row .pmdynaform-field-text, .pmdynaform-grid-row .pmdynaform-field-suggest {
  margin-top: 25px !important;
} */

.pmdynaform-field .control-label, .pmdynaform-field-grid .title-column {
  font-size: 15px;
}

.pmdynaform-container .pmdynaform-label-options.form-control, .pmdynaform-container .pmdynaform-control-checkbox-list.form-control, .pmdynaform-container .pmdynaform-link.form-control {
  background: #f8f8f8;
  padding: 5px 8px;
  height: auto;
  color: #727272;
}

.pmdynaform-field-title {
  margin-bottom: 4px;
}

.pmdynaform-control-text, .pmdynaform-control-suggest, .pmdynaform-label-options, .pmdynaform-control-dropdown, .pmdynaform-control-file, .pm-multiplefile-grid, .pmdynaform-field-control .datetime-container, .pmdynaform-field-suggest .select2 {
  margin-top: 25px !important;
}

.pmdynaform-grid .pmdynaform-control-file {
  margin-top: 0 !important;
}

.pmdynaform-field-grid.responsive .remove-row button .pmdynaform-field-grid.static .remove-row button {
  margin-top: 24px;
}

.pmdynaform-grid .input-group.date {
  margin-top: 25px !important;
}

.pmdynaform-view-form>div {
  border: none;
}

div.rowIndex {
  margin-top: 35px !important;
}

.pmdynaform-file-container {
  margin-top: 22px !important;
}

input:focus {
  outline: none !important;
}

input:focus~.textfield-label, input.valid-field~.textfield-label {
  font-size: 14px;
  font-weight: 600;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #2196f3;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus~.bar:before, input:focus~.bar:after, textarea:focus~.bar:before, textarea:focus~.bar:after {
  width: 50%;
}

/*.pmdynaform-grid-row .highlight {
  position: absolute;
  height: 33px;
  width: 100%;
  top: 25px;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.pmdynaform-field-control .highlight {
  position: absolute;
  height: 33px;
  width: 98%;
  top: 45px;
  left: 10px;
  pointer-events: none;
  opacity: 0.5;
}
input:focus ~ .highlight, textarea:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
  from { background:#2196f3; }
  to { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#2196f3; }
  to { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#2196f3; }
  to { width:0; background:transparent; }
}*/

/* Input fields --*/

/*-- Checkboxes */

.checkbox {
  padding-left: 0 !important;
}

.pure-material-checkbox {
  z-index: 0 !important;
  position: relative !important;
  display: inline-block !important;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87) !important;
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system) !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
}

/* Input */

.pure-material-checkbox>input {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  z-index: -1 !important;
  position: absolute !important;
  left: -10px !important;
  top: -2px !important;
  display: block !important;
  margin: 0 !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6) !important;
  box-shadow: none !important;
  outline: none !important;
  opacity: 0 !important;
  transform: scale(1) !important;
  pointer-events: none !important;
  transition: opacity 0.3s, transform 0.2s !important;
}

.pmdynaform-grid-row .pure-material-checkbox>input {
  top: -9px !important;
}

/* label */

.pure-material-checkbox>label, .pure-material-checkbox>span {
  display: inline-block !important;
  width: 100% !important;
  cursor: pointer !important;
}

/* Box */

.pure-material-checkbox>label::before, .pure-material-checkbox>span::before {
  content: "" !important;
  display: inline-block !important;
  box-sizing: border-box !important;
  margin: 3px 11px 3px 1px !important;
  border: solid 2px !important;
  /* Safari */
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6) !important;
  border-radius: 2px !important;
  width: 18px !important;
  height: 18px !important;
  vertical-align: top !important;
  transition: border-color 0.2s, background-color 0.2s !important;
}

/* Checkmark */

.pure-material-checkbox>label::after, .pure-material-checkbox>span::after {
  content: "" !important;
  display: block !important;
  position: absolute !important;
  top: 11px !important;
  left: 2px !important;
  width: 10px !important;
  height: 5px !important;
  border: solid 2px transparent !important;
  border-right: none !important;
  border-top: none !important;
  transform: translate(3px, 4px) rotate(-45deg) !important;
}

/* Checked, Indeterminate */

.pure-material-checkbox>input:checked, .pure-material-checkbox>input:indeterminate {
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243)) !important;
}

.pure-material-checkbox>input:checked+label::before, .pure-material-checkbox>input:indeterminate+label::before, .pure-material-checkbox>input:checked+span::before, .pure-material-checkbox>input:indeterminate+span::before {
  border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243)) !important;
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243)) !important;
}

.pure-material-checkbox>input:checked+label::after, .pure-material-checkbox>input:indeterminate+label::after, .pure-material-checkbox>input:checked+span::after, .pure-material-checkbox>input:indeterminate+span::after {
  border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255)) !important;
}

.pure-material-checkbox>input:indeterminate+label::after, .pure-material-checkbox>input:indeterminate+span::after {
  border-left: none !important;
  transform: translate(4px, 3px) !important;
}

/* Hover, Focus */

.pure-material-checkbox:hover>input {
  opacity: 0.04 !important;
}

.pure-material-checkbox>input:focus {
  opacity: 0.12 !important;
}

.pure-material-checkbox:hover>input:focus {
  opacity: 0.16 !important;
}

/* Active */

.pure-material-checkbox>input:active {
  opacity: 1 !important;
  transform: scale(0) !important;
  transition: transform 0s, opacity 0s !important;
}

.pure-material-checkbox>input:active+label::before, .pure-material-checkbox>input:active+span::before {
  border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243)) !important;
}

.pure-material-checkbox>input:checked:active+label::before, .pure-material-checkbox>input:checked:active+span::before {
  border-color: transparent !important;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6) !important;
}

/* Disabled */

.pure-material-checkbox>input:disabled {
  opacity: 0 !important;
}

.pure-material-checkbox>input:disabled+label, .pure-material-checkbox>input:disabled+span {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
  cursor: initial !important;
}

.pure-material-checkbox>input:disabled+label::before, .pure-material-checkbox>input:disabled+span::before {
  border-color: currentColor !important;
}

.pure-material-checkbox>input:checked:disabled+label::before, .pure-material-checkbox>input:indeterminate:disabled+label::before, .pure-material-checkbox>input:checked:disabled+span::before, .pure-material-checkbox>input:indeterminate:disabled+span::before {
  border-color: transparent !important;
  background-color: currentColor !important;
}

input.pmdynaform-control-checkgroup {
  top: -7px !important;
}

.pure-material-checkbox>span::after {
  top: 5px !important;
}

/* Checkboxes --*/

/*-- Radio Buttons */

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
  }
}

.radio {
  margin: 16px 0 !important;
  padding-left: 0 !important;
}

.radio.radio-inline {
  display: inline-block;
}

.radio input[type="radio"] {
  display: none;
}

.radio input[type="radio"]:checked+span:before {
  border-color: #337ab7;
  animation: ripple 0.2s linear forwards;
}

.radio input[type="radio"]:checked+span:after {
  transform: scale(1);
}

.radio span {
  display: inline-block;
  height: 20px;
  position: relative;
  padding: 0 30px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: bottom;
}

.radio span:before, .radio span:after {
  position: absolute;
  content: '';
  border-radius: 50%;
  transition: all .3s ease;
  transition-property: transform, border-color;
}

.radio span:before {
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.54);
}

.radio span:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  transform: scale(0);
  background: #337ab7;
}

/* Radio Buttons --*/

/*-- Progress Indicator Bar */

.progress-header {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  background-color: #f1f1f1;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #2eaae3;
  width: 0%;
}

/* Progress Indicator Bar --*/

/** Progressbar Temp fix **/

.pmdynaform-mfile-details .progress {
  background-color: #1ca385 !important;
}

.pmdynaform-mfile-details .progress-bar {
  box-shadow: none !important;
}

/** End Progressbar Temp fix **/

/*-- Multi Select */

.ms-container {
  background: transparent url("https://archirodon-dev.processmaker.com/skin/arco001/multiselect/img/switch.png") no-repeat 50% 50%;
  width: auto
}

.ms-container:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  min-height: 0;
  visibility: hidden
}

.ms-container .ms-selectable, .ms-container .ms-selection {
  background: #fff;
  color: #555555;
  float: left;
  width: 45%
}

.ms-container .ms-selection {
  float: right
}

.ms-container .ms-list {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  height: auto;
  min-height: 100px;
  max-height: 150px;
  padding: 0;
  overflow-y: auto
}

.ms-container .ms-list.ms-focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9
}

.ms-container ul {
  margin: 0;
  list-style-type: none;
  padding: 0
}

.ms-container .ms-optgroup-container {
  width: 100%
}

.ms-container .ms-optgroup-label {
  margin: 0;
  padding: 5px 0px 0px 5px;
  cursor: pointer;
  color: #999
}

.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection {
  border-bottom: 1px #eee solid;
  padding: 2px 10px;
  color: #555;
  font-size: 14px
}

.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #08c
}

.ms-container .ms-selectable li.disabled, .ms-container .ms-selection li.disabled {
  background-color: #eee;
  color: #aaa;
  cursor: text
}

/* Multi Select --*/

/* Datepicker */

.bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
  color: #aaa;
  font-weight: lighter;
}

/* End Datepicker */

/* Glyphicon Icons Fix --*/

button.glyphicon {
  font-family: 'Glyphicons Halflings' !important;
  font-size: 12px !important;
}

/* Glyphicon Icons Fix --*/

/** DataTables **/

.dataTables_filter input {
  color: #484848;
  letter-spacing: .5px;
  border: 1px solid #a2a2a2;
  outline: none;
  border-radius: 3px;
  padding: 7px 8px;
  line-height: 1.1;
  height: auto;
  font-size: 14px;
  margin-bottom: 3px;
}

.dataTables_filter input:focus {
  border-color: #66afe9;
}

.dataTables_length {
  color: #484848;
}

.dataTables_length select {
  border: 0 none;
  color: #08c;
  font-size: 14px;
  padding: 4px 2px;
  display: inline-block;
}

.dataTables_length select:focus {
  border: 0 none;
  outline: none;
}

.dataTable thead {
  border: 0 none !important;
}

.dataTable thead th {
  border: 0 none !important;
  line-height: 1.3;
  padding: 0;
}

.dataTable thead tr[role=row] {
  box-shadow: 3px 2px 5px 3px rgba(0, 0, 0, 0.2);
  border: 0 none;
  background: #09b;
  border-radius: 0;
  color: white;
  border: 0 none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button, .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  transition: all .2s linear;
  border-radius: 2px;
  background: transparent !important;
  color: #484848 !important;
  border: 0 none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #f2f2f2 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  transition: all .2s linear;
  border-radius: 2px;
  background: #0AF !important;
  color: #fff !important;
  border: 0 none !important;
}

.dataTable .table-filters-row th {
  overflow-x: hidden;
}

.dataTable .column-search-input {
  border: 0 none;
  border-bottom: 1px solid #d8d8d8;
  padding: 2px 3px;
  font-size: 14px;
  font-weight: normal;
}

.dataTable .column-search-input::-webkit-input-placeholder, .dataTable .column-search-input:-ms-input-placeholder {
  color: #777;
}

.dataTable .column-search-input::placeholder {
  color: #777;
}

table.dataTable.display tbody tr.odd, table.dataTable.display tbody tr.even {
  background: white;
}

table.dataTable.display tbody tr.odd td.sorting_1, table.dataTable.display tbody tr.even td.sorting_1 {
  background: #f8f8ff;
}

table.dataTable.display tbody tr:hover {
  background: #fafafa;
}

.dt-buttons .dt-button {
  transition: all .2s linear;
  border-radius: 2px;
  border: 1px solid #09b !important;
  color: #09b !important;
  background: white !important;
  padding: 6px 12px;
  display: inline-block;
  line-hEight: 1;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.dt-buttons .dt-button:hover {
  border: 1px solid #09b !important;
  color: white !important;
  background: #09b !important;
}

/******* DISTRIBUTION LIST PREVIEW ********/

.distr-list-preview-content {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: 80vh;
}

.distr-list-preview-table {
  width: 100%;
  margin: 0;
  border: 0 none;
}

.distr-list-preview-table tbody tr:nth-child(even) {
  background: #f9f9f9;
}

.distr-list-preview-table tbody tr:nth-child(odd) {
  background: white;
}

.distr-list-preview-table tbody tr td {
  text-align: center;
  padding: 6px;
}

.distr-list-preview-table thead tr {
  background: #fff;
  color: #484848;
}

.distr-list-preview-table thead th {
  text-align: center;
  padding: 8px 2px;
  font-size: 15px;
  line-height: 1;
  letter-spacing: .5px;
  font-weight: bold;
  border-bottom: 1px solid #d6d6d6;
}

.distr-list-preview-table thead th {
  text-align: center;
  padding: 5px;
  font-size: 14px;
  letter-spacing: .5px;
  font-weight: bold;
  line-height: 1.0;
  border-bottom: 1px solid #ccc;
  color: #333;
}

.distr-list-preview-dialog .ui-dialog-content {
  padding: 2px;
  margin: 0;
}

/************* Case Status Error Message ************/

.case-status-error-message {
  display: inline-block;
  width: 100%;
  padding: 6px 8px;
  box-shadow: 0px 0px 3px 0px rgba(255, 40, 40, .95);
  border-radius: 6px;
  margin-top: 20px;
}

.case-status-error-message p {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

.case-status-error-message .go-to-prev-case-button {
  padding: 6px 9px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 14px;
  background: #42b0e3;
  display: inline-block;
  color: white;
  line-height: 1.0;
  border: 1px solid #3890c3;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .2);
}

.case-status-error-message .go-to-prev-case-button:hover {
  background: #3aa0d3;
}

@-webkit-keyframes spinner-anim {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.autosave-message {
  position: fixed;
  bottom: 20px;
  right: -200px;
  padding: 6px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0.5px 1px 1px rgba(0, 0, 0, .15);
  transition: all .4s ease-in;
  display: table-cell;
  z-index: 10000;
}

.autosave-message.slidein {
  transition: all .4s ease-in;
  right: 20px;
}

.autosave-loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 26px;
  height: 26px;
  -webkit-animation: spinner-anim 1s linear infinite;
  animation: spinner-anim 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

.autosave-message span {
  margin-left: 12px;
  vertical-align: middle;
}